.selected-tour {
    grid-column: 1/14;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(5, auto);
    justify-content: space-between;
    column-gap: 20px;
    height: auto;
}

.selected-tour__title {
    grid-row: 1/2;
    grid-column: 2/13;
    align-self: baseline;
    line-height: 0.7;
    margin-bottom: 20px;
}

.selected-tour__subtitle {
    grid-column: 2/13;
    grid-row: 2/3;
    margin-bottom: 35px;
}

.selected-tour__images {
    grid-column: 2/10;
    grid-row: 3/4;
    height: 38vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 35px;
}

.selected-tour__image {
    width: 100%;
    border-radius: 3px;
}

.first-image {
    grid-column: 1/7;
    grid-row: 1/4;
    height: 38vh
}

.second-image {
    grid-column: 7/9;
    grid-row: 1/2;
    height: 12vh;
}

.third-image {
    grid-column: 7/9;
    grid-row: 2/3;
    height: 12vh;
}

.fourth-image {
    grid-column: 7/9;
    grid-row: 3/4;
    height: 12vh;
}

.selected-tour__details {
    grid-column: 10/13;
    grid-row: 3/4;
    height: 38vh;
    background-color: rgba(87, 134, 154, 0.2);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.selected-tour__price {
    font-family: 'Inter', serif;
    font-weight: 600;
    color: var(--text-light);
}

.selected-tour__description {
    grid-column: 2/11;
    grid-row: 4/5;
    margin-bottom: 35px;
    color: var(--text-light);
}

.selected-tour__actions {
    grid-column: 2/13;
    grid-row: 5/6;
    display: flex;
}

.selected-tour__button {
    width: 135px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid var(--green);
    color: var(--green);
    background-color: transparent;
}

.selected-tour__button:hover {
    background-color: rgba(87, 134, 154, 0.2);
    border: 1px solid rgba(87, 134, 154, 0.2);
}

.selected-tour__button--white {
    border: 1px solid var(--text-light);
    background-color: var(--text-light);
    margin-right: 15px;
}

.selected-tour__button--white:hover {
    background-color: rgba(214, 229, 237, 0.7);
    border: 1px solid rgba(214, 229, 237, 0.7);
    color: var(--text-light);
}

@media (max-width: 1400px) {
    .selected-tour__images {
        height: 310px;
    }

    .first-image {
        height: 310px;
    }

    .second-image {
        height: 97px;
    }

    .third-image {
        height: 97px;
    }

    .fourth-image {
        height: 97px;
    }
    .selected-tour__details {
        height: 310px;
    }
}

@media (max-width: 1280px) {
    .selected-tour__subtitle {
        grid-column: 2/13;
        margin-bottom: 3vh;
    }
    .selected-tour__images {
        height: 310px;
        margin-bottom: 3vh;
    }
    .first-image {
        grid-column: 1/6;
        height: 100%;
    }
    .second-image {
        grid-column: 6/8;
        height: 100%;
    }

    .third-image {
        grid-column: 6/8;
        height: 100%;
    }

    .fourth-image {
        grid-column: 6/8;
        height: 100%;
    }
    .selected-tour__details {
        grid-column: 9/13;
        height: 310px;
    }
    .selected-tour__description {
        font-size: 14px;
        grid-column: 2/13;
        margin-bottom: 3vh;
    }
    .selected-tour__button {
        font-size: 14px;
    }
}

@media (max-width: 1140px) {
    .selected-tour__images {
        height: 280px;
    }
    .selected-tour__details {
        height: 280px;
    }
}

@media (max-width: 1024px) {

}

@media (max-width: 840px) {
    
}

@media (max-width: 580px) {

}