.tours-catalog__tours-list {
    grid-column: 6/19;
    display: grid;
    grid-template-rows: 75px auto;
    grid-template-columns: repeat(13, 1fr);
    padding: 30px 0;
    height: 95vh;
}

.tours-catalog__tours-heading {
    grid-row: 1/2;
    grid-column: 2/13;
    align-self: baseline;
    line-height: 0.7;
}

.tours-catalog__tours {
    grid-row: 2/3;
    grid-column: 2/14;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 37px;
    max-height: calc(95vh - 75px - 60px);
    overflow-y: auto;
    padding-right: 10px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--text-light) transparent;
}

.tours-catalog__tours::-webkit-scrollbar-thumb {
    background-color: var(--text-light);
    border-radius: 4px;
}

.tours-catalog__tour {
    width: 13vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 2px;
}

.tours-catalog__tour:hover {
    background-color: rgba(30, 43, 67, 0.2);
    border: 1px solid var(--text-light);
    border-radius: 3px;
    padding: 5px;
}

.tours-catalog__tour-image {
    height: 77%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.tours-catalog__tour-title {
    color: var(--text-light)!important;
}

.tours-catalog__decor-bottom-white {
    width: 9vw;
    height: 13vh;
    border-right: 1px dashed var(--text-light);
    border-bottom: 1px dashed var(--text-light);
    position: absolute;
    bottom: 30px;
    right: 30px;
}
