.article-card-promo {
    background-color: rgba(87, 134, 154, 0.07);
    padding: 2vh;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid rgba(87, 134, 154, 0.07);
}

.article-card-promo:hover {
    border: 1px solid var(--text-light);
}

.article-card-promo-title {
    color: var(--green);
}

@media (max-width: 1400px) {
    .article-card-promo  {
        padding: 2vh;
    }
}

@media (max-width: 1280px) {
    .article-card-promo  {
        padding: 2vh;
    }
    .hide-block {
        display: none;
    }
    .article-card-promo-subtitle {
        font-size: 11px !important;
    }
}

@media (max-width: 1024px) {
    .hide-block {
        display: block;
    }
}