.comment {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
}

.comment__base-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;
}

.comment__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment__user-name {
    margin: 0;
}

.comment__text {
    margin-bottom: 10px;
}
