.cars-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
}

.cars-list__content {
    width: 100%;
}

.cars-list__content li {
    list-style: none;
}

.cars-list-header {
    margin-bottom: 25px;
}

.cars-list__controls {
    align-self: flex-end;
    padding-right: 10px;
}