.layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-image: url('../../../assets/images/bg_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.layout__main {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    column-gap: 20px;
    width: 100vw;
    overflow: hidden;
    flex: 1;
    min-height: 0;
}

.layout__content {
    grid-column: 5/23;
    overflow-y: auto;
    height: calc(100vh - 225px);
}

@media (max-width: 1024px) {
    .layout {
        height: 650px;
    }
    .layout__main {
        grid-column: 2/12;
        overflow: visible;
        position: absolute;
    }
    .layout__sidebar {
        display: none;
    }

    .layout__main {
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(12, 1fr);
    }
    .layout__content {
        grid-column: 1/13;
        grid-row: 2/3;
        overflow-y: visible;
    }
}

@media (max-width: 840px) {
    
}

@media (max-width: 580px) {
    .layout {
        height: 565px;
    }
}

@media (max-width: 430px) {
    .layout {
        column-gap: 20px;
        height: 550px;
    }
}