.card-mobile__active {
    grid-column: 2/18;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    margin-bottom: 50px;
    margin-top: 120px;
}

.card-mobile__active-image {
    grid-column: 1/2;
    
}

.card-mobile__active-image img {
    border-radius: 3px;
    width: 410px;
    height: 280px;
    object-fit: cover;
}

.card-mobile__active-info {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-mobile__active-title--big {
    margin-top: -20px;
}

.card-mobile__active-subtitle {
    margin: 25px 0 15px 0;
}

.card-mobile__active-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.card-mobile__active-price {
    align-self: flex-end;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-light);
}

@media (max-width: 840px) {
    .card-mobile__active {
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 25px;
    }
    .card-mobile__active-image {
        grid-column: 1/13;
        height: 330px;
        order: 2;
    }
    .card-mobile__active-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .card-mobile__active-info {
        grid-column: 2/12;
        order: 1;
        margin-top: 55px;
        margin-bottom: 40px;
    }
    .card-mobile__active-price {
        color: var(--green);
    }
}