.card-mobile__list--item {
    width: 145px;
    height: 80px;
    cursor: pointer;
    position: relative;
}

.card-mobile__list--item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.card-mobile__list--item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 3px;
    pointer-events: none;
}

.card-mobile__list--item:hover::after {
    opacity: 0.2;
    border: solid 1px var(--green);
    border-radius: 3px;
}

.item--active {
    border: solid 1px rgba(87, 134, 154, 0.4);
    border-radius: 3px;
}

.item--active::after {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 840px) {
    .card-mobile__list--item {
        width: 160px;
    }
}