.text__block {
    grid-column: 1/19;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}

.image__block {
    grid-column: 8/19;
    height: 100%;
}

.image__block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

@media (max-width: 1024px) {
    .text__block {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .image__block {
        grid-column: 8/12;
        padding-top: 20px;
        height: 250px;
    }
    .image__block img {
        height: 100%;
    }
}

@media (max-width: 840px) {
    .image__block {
        grid-column: 1/13;
        padding-top: 0;
        margin: 70px 0 0 0;
        height: 330px;
    }
}