.account__avatar {
    padding: 0 0 20px 20px;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    
}

.account__avatar-image {
    width: 100%;
}

.account__avatar-button {
    width: 100%;
    background-color: transparent;
    border: none;
    color: rgba(214, 229, 237, 0.5);
    font-size: 12px;
    margin-top: 10px;
}

@media (max-width: 840px) {
    .account__avatar {
        grid-column: 1/4;
        
    }
}