.account__avatar {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.account__avatar-image {
    width: 80%;
}

.account__avatar-button {
    width: 80%;
    background-color: transparent;
    border: none;
    color: rgba(214, 229, 237, 0.5);
    font-size: 12px;
    margin-top: 15px;
}