.about__title {
    line-height: 0.7;
}

.about__text {
    grid-column: 1/7;
}

.about__subtitle {
    margin: 40px 0 20px 0;
}

.about__description {
    margin-bottom: 20px;
}

@media (max-width: 1280px) {
    .about__subtitle {
        margin: 15px 0;
    }
    .about__description {
        margin-bottom: 15px;
    }
}

@media (max-width: 1024px) {
    .about__text {
        grid-column: 2/7;
        height: auto;
    }
}

@media (max-width: 840px) {
    .about__text {
        grid-column: 2/12;
    }
}