.custom-carousel {
    grid-column: 5/16;
    align-self: flex-end;
    margin-bottom: 40px;
}

.p-carousel-indicators {
    display: none;
}

.p-carousel-container {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 30px;
    justify-content: start;
    align-items: end;
}

.p-carousel-next {
    grid-column: 1/2;
    grid-row: 2/3;
    /* order: 1; */
}

.p-carousel-prev{
    grid-column: 1/2;
    grid-row: 3/4;
    /* order: 3; */
}

.p-carousel-prev,
.p-carousel-next {
    width: 35px;
    height: 35px;
    margin: 0;
    border-radius: 3px;
    border: none;
    background-color: var(--text-light);
}

.p-carousel-prev:hover,
.p-carousel-next:hover  {
    background-color: var(--grey-blue);
}

.p-icon {
    color: var(--green);
    transform: scaleX(-1);
}

.p-carousel-items-content {
    grid-column: 2/3;
    grid-row: 1/4;
    /* order: 2; */
}

.p-carousel-item {
    width: 350px;
    height: 140px;
    background-color: var(--smoked-blue);
    border-radius: 3px;
    padding: 20px;
    margin-right: 20px;
}

.border-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.p-items-hidden .p-carousel-item {
    visibility: visible;
}

.mb-1 {
    font-family: 'Sree Krushnadevaraya', serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--text-light);
    opacity: 0.5;
    letter-spacing: 1px;
}

.mt-0 {
    font-family: 'Sree Krushnadevaraya', serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-light);
    margin: 0;
}