.all-articles {
    height: 100%;
    width: 100%;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: 1fr 1fr;
}

.all-articles__item--image-left {
    grid-column: 1/7;
    grid-row: 1/2;
    padding: 10px;
    border-top: 1px solid var(--text-light);
    border-bottom: 1px solid var(--text-light);
}

.image-left {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/blog_page_img7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.all-articles__item--text-top {
    grid-column: 7/13;
    grid-row: 1/2;
    border: 1px solid var(--text-light);
    border-left: none;
    padding: 35px 35px 0 35px;
}

.all-articles__item--text-bottom {
    grid-column: 1/7;
    grid-row: 2/3;
    border-bottom: 1px solid var(--text-light);
    padding: 35px 35px 0 35px;
}

.all-articles__content {
    margin-bottom: 25px;
}

.all-articles__title {
    margin-bottom: 25px;
}

.all-articles__item--image-right {
    grid-column: 7/13;
    grid-row: 2/3;
    padding: 10px;
    border-bottom: 1px solid var(--text-light);
    border-right: 1px solid var(--text-light);
}

.image-right {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/blog_page_img8.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.all-articles__featured {
    grid-column: 13/19;
    grid-row: 1/3;
    border-bottom: 1px solid var(--text-light);
    border-top: 1px solid var(--text-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px 10px 10px 35px;
}

.all-articles__featured-content {
    width: 100%;
    height: auto;
}

.all-articles__featured-header {
    margin-bottom: 25px;
}

.all-articles__featured-info {
    background-color: rgba(87, 134, 154, 0.07);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid rgba(87, 134, 154, 0.07);
}

.all-articles__featured-info:hover {
    border: 1px solid var(--text-light);
}

.all-articles__featured-title {
    color: var(--green);
}

.all-articles__controls {
    align-self: flex-end;
    padding-right: 10px;
}