.all-articles {
    height: 100%;
    width: 100%;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: 1fr 1fr;
}

.all-blogs-grid__item--row1-col1 {
    grid-column: 1/7;
    grid-row: 1/2;
    padding: 10px;
    border-top: solid 1px var(--text-light);
    border-bottom: solid 1px var(--text-light);
}

.all-blogs-grid__item--row1-col2 {
    grid-column: 7/13;
    grid-row: 1/2;
    border: solid 1px var(--text-light);
    border-left: none;
}

.all-blogs-grid__item--row2-col1 {
    grid-column: 1/7;
    grid-row: 2/3;
    border-bottom: solid 1px var(--text-light);
}

.all-blogs-grid__item--row2-col2 {
    grid-column: 7/13;
    grid-row: 2/3;
    padding: 10px;
    border-bottom: solid 1px var(--text-light);
    border-right: solid 1px var(--text-light);
}

.all-blogs-grid__item--col3 {
    grid-column: 13/19;
    grid-row: 1/3;
    border-top: solid 1px var(--text-light);
    border-bottom: solid 1px var(--text-light);
    padding: 35px 10px 10px 35px;
}



.all-articles__featured-content {

}

.all-articles__featured-header {

}

.all-articles__controls {

} 