.info {
    height: 100%;
    width: 100%;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: 1fr 1fr;
}

.info-grid__item--row1 {
    grid-column: 1/19;
    border-top: 1px solid var(--text-light);
    border-bottom: 1px solid var(--text-light);
    padding: 10px;
}

.info-grid__item--row2-col1 {
    grid-column: 1/7;
    grid-row: 2/3;
    border-bottom: solid 1px var(--text-light);
    padding: 10px;
}

.info-grid__item--row2-col2 {
    grid-column: 7/13;
    grid-row: 2/3;
    border: solid 1px var(--text-light);
    border-top: none;
}

.info-grid__item--row2-col3 {
    grid-column: 13/19;
    grid-row: 2/3;
    border-bottom: solid 1px var(--text-light);
    padding: 10px;
}
.info__image {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/blog_page_img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__title {
    text-align: center;
}

.info__item--text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info__item--text p {
    width: 80%;
}
