.modal-blog__content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}

.article-content {
    grid-column: 2/10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.article-content__title {
    margin: 0;
    line-height: 1.2;
    padding: 15px 0;
}

.article-text  {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.article-text-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.article-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.like-btn,
.comments-btn,
.share-btn {
    background-color: transparent;
    border: none;
    color: var(--text-light);
    margin-bottom: 15px;
}

.article-date {
    color: rgba(0, 0, 0, 0.4);
}

.comment-block {
    grid-column: 11/18;
    background-color: rgba(87, 134, 154, 0.5);
    padding: 25px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-base__title {
    margin: 0;
    margin-bottom: 15px;
}

.single-comment {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.comment-base {
    max-height: 55vh;
    overflow-y: auto;
    padding-right: 10px;
    scroll-behavior: smooth;
    margin-bottom: 15px;
}

.comment-base::-webkit-scrollbar {
  width: 8px;
}

.comment-base::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.comment-base::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.base-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
}

.comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info-name-comment {
    margin: 0;
}

.comment-user-text {
    padding: 0 15px 15px 15px;
}

.comment-like-btn {
    background-color: transparent;
    border: none;
    width: 100px;
    display: flex;
    padding-left: 0;
    margin: 0 0 15px 15px;
    color: var(--text-light);
}

.write-comment {
    width: 100%;
    height: 30%;
}

.write-comment__title {
    margin: 0;
    margin-bottom: 15px;
}

.comment-text {
    width: 100%;
    height: 100%;
}

.comment-text__textarea {
    width: 100%;
    height: 40%;
    padding: 15px;
    border-radius: 3px;
    border: none;
    background-color: var(--text-light);
}

.comment-text__button {
    background-color: rgba( 0, 0, 0, 0.2);
    border: none;
    border-radius: 3px;
    padding: 5px 35px;
    margin-top: 5px;
}