.article {
    grid-column: 2/10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 25px 0;
}

.article__title {
    margin: 0;
    line-height: 1.2;
    padding: 15px 0;
}

.article__text  {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.article__image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.article__actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.article__share-btn {
    background-color: transparent;
    border: none;
    color: var(--text-light);
}

.article__date {
    color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1400px) {
}

@media (max-width: 1024px) {
    .article {
        height: 100%;
        grid-column: 1/19;
        grid-row: 1/2;
        overflow: unset;
        padding: 0 60px 60px 60px;
    }
}

@media (max-width: 840px) {
   
}

@media (max-width: 580px) {
    
}

@media (max-width: 430px) {
}