.modal-blog__content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}

.comment-block {
    grid-column: 11/19;
    background-color: rgba(87, 134, 154, 0.5);
    padding: 25px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-base__title {
    margin: 0;
    margin-bottom: 15px;
}

.comment-base {
    max-height: 60vh;
    overflow-y: auto;
    padding-right: 10px;
    scroll-behavior: smooth;
    margin-bottom: 15px;
}

.comment-base::-webkit-scrollbar {
  width: 8px;
}

.comment-base::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.comment-base::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1400px) {
}

@media (max-width: 1024px) {
  .modal-blog__content {
    grid-template-rows: 1fr 1fr;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  .comment-block {
    height: 100%;
    grid-column: 1/19;
    grid-row: 2/3;
    border-radius: 0;
    padding: 60px;
  }
  .comment-base {
    overflow-y: unset;
    order: 2;
    max-height: none;
  }
  .comment-base__title {
    display: none;
  }
}

@media (max-width: 840px) {

}

@media (max-width: 580px) {
    
}

@media (max-width: 430px) {
}