.modal-blog__content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}

.comment-block {
    grid-column: 11/18;
    background-color: rgba(87, 134, 154, 0.5);
    padding: 25px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-base__title {
    margin: 0;
    margin-bottom: 15px;
}

.comment-base {
    max-height: 55vh;
    overflow-y: auto;
    padding-right: 10px;
    scroll-behavior: smooth;
    margin-bottom: 15px;
}

.comment-base::-webkit-scrollbar {
  width: 8px;
}

.comment-base::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.comment-base::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
