.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: #2d5566;
  border-radius: 16px;
  padding: 32px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  position: relative;
  padding-left: 5%;
}

.close-modal-btn {
  position: absolute;
  top: 30px;
  right: 70px;
  background-color: transparent;
  border: none;
  z-index: 2500;
}