/* styles for header elements */

.layout__header {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    column-gap: 20px;
    width: 100%;
    padding-top: 40px;
    color: var(--text-light);
    font-family: 'Sree Krushnadevaraya', serif;
    font-weight: 400;
    margin-bottom: 150px;
}

.layout__header a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s ease;
}

.layout__header a:hover {
    color: var(--grey-blue);
}

.header__logo {
    grid-column: 2/5;
}

.header__logo a {
    font-size: 24px;
    line-height: 0.7;
}

.header__logo a:hover {
    font-size: 24px;
    line-height: 0.7;
    color: var(--text-light);
}

.header__nav {
    grid-column: 5/19;
}

.nav__list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.header__burgermenu {
    grid-column: 19/22;
    justify-self: end; 
    margin-bottom: 5px;
    cursor: pointer;
}

.header__burgermenu img {
    height: 30px;
    width: 50px;
    margin-top: -2px;
}

@media (max-width: 1280px) {
    .layout__header a {
        font-size: 14px;
    }
    .header__logo a {
        font-size: 20px;
        line-height: 0.7;
    }
}

@media (max-width: 1024px) {
    .layout__header {
        display: none;
    }
}

@media (max-width: 840px) {

}