.selected-tour__back-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(87, 134, 154, 0.45);
}

.selected-tour {
    margin-top: 30px;
    overflow-y: auto;
    max-height: 81vh;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--text-light) transparent;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.selected-tour::-webkit-scrollbar-thumb {
    margin: 50px 0;
    background-color: var(--text-light);
    border-radius: 4px;
}

.selected-tour__title {
    line-height: 0.7;
    margin-bottom: 25px;
    grid-column: 1/13;
}

.selected-tour__subtitle {
    margin-bottom: 25px;
    grid-column: 1/8;
}

.selected-tour__image-block {
    grid-column: 1/8;
    margin-bottom: 25px;
}

.selected-tour__image {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.selected-tour__details {
    grid-column: 8/12;
    background-color: rgba(87, 134, 154, 0.2);
    height: 35vh;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-bottom: 25px;
}

.selected-tour__price {
    color: var(--text-light);
    font-weight: 600;
}

.selected-tour__description {
    grid-column: 1/8;
    margin-bottom: 25px;
}

.selected-tour__actions {
    grid-column: 1/12;
    display: flex;
    gap: 15px;
}

.selected-tour__button {
    width: 135px;
    height: 35px;
    border-radius: 3px;
    border: solid 1px var(--green);
    background-color: transparent;
    color: var(--green);
}

.selected-tour__button:hover {
    background-color: rgba(87, 134, 154, 0.2);
}

.selected-tour__button--white {
    background-color: rgba(214, 229, 237, 0.7);
}

.selected-tour__button--white:hover {
    background-color: var(--text-light);
}


@media (max-width: 1400px) {

}

@media (max-width: 1280px) {
    
}

@media (max-width: 1140px) {
    
}

@media (max-width: 1024px) {

}

@media (max-width: 840px) {
    
}

@media (max-width: 580px) {

} 