.tours-catalog__filter-groups {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

/* .tours-catalog__filters {
    width: 100%;
    height: 95vh;
    grid-column: 1/6;
    display: grid;
    grid-template-rows: 75px auto;
    align-items: baseline;
    background-image: url("../../../assets/images/routes_filter_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 30px;
    position: relative;
}

.tours-catalog__title-with-decor {
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.tours-catalog__decor {
    width: 15%;
    border-top: 1px dashed #2D5566;
}

.tours-catalog__heading {
    color: #2D5566;
}

.tours-catalog__filter-groups {
    grid-row: 2/3;
}

.tours-catalog__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.tours-catalog__subtitle {
    color: #2D5566;
}

.tours-catalog__filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tours-catalog__button {
    width: 12vw;
    color: #2D5566;
    border: 1px solid #2D5566;
    border-radius: 3px;
    background-color: #A2B7C0;
}

.tours-catalog__button:hover {
    background-color: #7A97A3;
}

.tours-catalog__decor-bottom {
    width: 9vw;
    height: 13vh;
    border-left: 1px dashed #2D5566;
    border-bottom: 1px dashed #2D5566;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.tours-catalog__button-back {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2D5566;
    background-color: transparent;
    border: none;
}

.tours-catalog__button-back:hover {
    font-weight: 600;
}

.back-arrow {
    height: 8px;
} */