.cards {
    
}

.card {
    display: flex;
}

.card--active {
    grid-column: 1/7;
    grid-row: 1/3;
    background-color: #2D5566;
    width: 640px;
    height: 435px;
    margin-right: 40px;
    border-radius: 3px;
}

.card__content--active {
    width: 520px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__info .card__title {
    margin: 15px 0;
}

.card__footer {
    display: flex;
    justify-content: space-between;
}

.card__price {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-light);
}

.card__image--active {
    height: 100%;
}

.card__image--active img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.card--inactive {
    width: 230px;
    height: 305px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.card__content--inactive {
    padding-top: 10px ;
}