.new-registered-user__subtitle {
    margin-top: -15px;
    margin-bottom: 15px;
    color: var(--green);
}

.subbutton {
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: var(--text-light);
    color: #2d5566;
}