.account__form {
    grid-column: 3/10;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    padding: 0 20px 0 15px;
    margin-bottom: 15px;
}

.account__form-fields{
    
    
}

.account__input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba(214, 229, 237, 0.5);
    color: rgba(214, 229, 237, 0.5);
    margin-bottom: 15px;
}

.account__input::placeholder {
    color: rgba(214, 229, 237, 0.5);
}

.account__submit-button {
    align-self: flex-end;
    margin-top: 15px;
}

@media (max-width: 840px) {
    .account__form {
        grid-column: 4/10;
    }
}