.registration__form-block {
    grid-column: 1/6;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.registration__form-title {
    margin-bottom: 30px;
}

.registration__form-field {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba(214, 229, 237, 0.5);
    color: rgba(214, 229, 237, 0.5);
    margin-bottom: 15px;
}

.registration__form-field:last-of-type {
    margin-bottom: 30px;
}

.registration__form-field::placeholder {
    color: rgba(214, 229, 237, 0.5);
}

.subbutton {
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: rgba(214, 229, 237, 0.5);
    color: #2d5566;
}

@media (max-width: 1400px) {
}

@media (max-width: 1024px) {
    .registration__form-block {
        width: 100%;
        grid-column: 2/12;
        padding-top: 50px;
    }
    .registration__form-title {
        grid-column: 2/12;
        margin-bottom: 15px;
    }
    .registration__form {
        width: 100%;
    }
}

@media (max-width: 840px) {
    .registration__form-block {
        width: 100%;
        margin: 30px 0 50px;
    }
}

@media (max-width: 580px) {
    .registration__form {
        padding-top: 30px;
        
    }
    .registration__form-title {
        margin-bottom: -15px;
    }
}

@media (max-width: 430px) {
}