.contentWrapper {  
    width: 100%;
    height: 100%;
    color: brown;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    column-gap: 20px;
    position: relative;
}

.contentWrapper__image {
    background-image: url('../../assets/images/main_page_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 4/19;
    border-top-left-radius: 3px;
    z-index: 1;
}

.contentWrapper__text {
    z-index: 100;
    position: absolute;
}

.contentWrapper__text h1 {
    width: 690px;
    line-height: 1.0;
    margin-top: 10vh;
}

.contentWrapper__text span {
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 2px white;

}

@media (max-width: 1400px) {
    .contentWrapper__text h1 {
        margin-top: 7vh;
    }
}



@media (max-width: 1024px) {

}

@media (max-width: 840px) {
.contentWrapper__image {
    display: none;
}
}

@media (max-width: 430px) {

}