.slider-big-mobile {
    display: none;
}

@media (max-width: 1400px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
    .slider-big-mobile {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
    }
    .card-mobile__list {
        grid-column: 2/18;
        display: flex;
        gap: 10px;
    }
    .card-mobile__button {
        width: 145px;
        height: 80px;
        border-radius: 3px;
        border: solid 1px rgba(87, 134, 154, 0.3);
        background-image: url("../../../assets/images/button_background_image.jpg");
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--green);
        text-decoration: underline;
        text-underline-offset: 6px;
        transition: color 0.2s ease;
    }
    .card-mobile__button:hover {
        color: var(--grey-blue);
        border: solid 1px rgba(87, 134, 154, 0.8);
    }
}

@media (max-width: 840px) {
    .slider-big-mobile {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .card-mobile__list {
        grid-column: 1/18;
    }
    .card-mobile__button {
        width: 160px;
    }
}

@media (max-width: 580px) {
}

@media (max-width: 430px) {
}