.home-scroll-container {
  scroll-behavior: smooth;
  overflow: hidden;
}

.home-scroll-container section {
  height: calc(100vh - 225px);
  width: 100%;
}

@media (max-width: 1024px) {
  .home-scroll-container {
    display: none;
  }
}