.choose-route-section {
    height: 100%;
}

.choose-route-section__wrapper {
    margin-top: 5vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    column-gap: 20px;
}

.choose-route-section__content {
    grid-column: 1/8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.choose-route-section__title {
    line-height: 0.7;
    margin-bottom: 30px;
}

.choose-route-section__subtitle {
    margin-bottom: 30px;
}

.choose-route-section__text {
    margin-bottom: 15px;
}

.choose-route-section__text:last-child {
    margin-bottom: 30px;
}

.choose-route-section__highlight {
    color: var(--green);
    font-weight: 500;
}

.choose-route-section__image {
    grid-column: 9/19;
    width: 100%;
    height: 430px;
}

.choose-route-section__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

@media (max-width: 1024px) {
    .choose-route-section {
        margin: 120px  0;
        height: auto;
    }
}

@media (max-width: 840px) {
}

@media (max-width: 580px) {
}

@media (max-width: 430px) {
}