.custom-routes {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom-routes__contacts {
    width: 500px;
}

@media (max-width: 1024px) {
    .custom-routes{
        margin-top: 120px;
    }
    .custom-routes__contacts {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 50px;
    }
    .custom-route-form {
        grid-column: 3/12;
        margin-bottom: 50px;
    }
}

@media (max-width: 580px) {
    .custom-routes__contacts {
        width: 340px;
    }
}