.custom-routes {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom-routes__intro {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    column-gap: 20px;
}

.custom-routes__content {
    grid-column: 1/8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.custom-routes__title {
    line-height: 0.7;
    margin-bottom: 30px;
}

.custom-routes__subtitle {
    margin-bottom: 30px;
}

.custom-routes__text {
    margin-bottom: 30px;
}

.custom-routes__image {
    grid-column: 9/19;
    width: 100%;
    height: auto;
}

.custom-routes__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.custom-routes__features {
    margin-top: 80px;
    display: flex;
    column-gap: 50px;
    color: var(--text-light);
    font-family: 'Sree Krushnadevaraya', serif;
    font-weight: 400;
    font-size: 14px;
}