/* styles for mobile header elements */

.layout__mobileHeader {
    display: none;
}

@media (max-width: 1024px) {
    .layout__mobileHeader {
        display: none;
    }
}

@media (max-width: 840px) {
    .layout__mobileHeader {
        padding-top: 45px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;
    }
    .header__logo {
        grid-column: 2/6;
    }
    .header__logo a {
        color: var(--text-light);
        text-decoration: none;
        font-size: 20px;
        line-height: 0.7;
    }
    .header__info-burgermenu {
        grid-column: 11/12;
        align-self: end;
        justify-self: end;
    }
    .header__info-burgermenu img {
        height: 30px;
        width: 40px;
    }
}