.home-main {
    height: 100%;
    position: relative;
}
.home-content {  
    width: 100%;
    height: 100%;
    color: var(--text-light);
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    column-gap: 20px;
    position: relative;
}

.home-content__image {
    background-image: url('../../../assets/images/main_page_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 4/19;
    border-top-left-radius: 3px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    /* display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 60px; */
    position: relative;
}

.home-content__text {
    z-index: 100;
    position: absolute;
}

.home-content__title {
    width: 690px;
    line-height: 1.0;
    margin-top: 10vh;
}

.home-content__title span {
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 2px white;
}

.home-content__description {
    max-width: 180px;
    margin: 25px 0;
}

@media (max-width: 1400px) {
    .home-content__title h1 {
        margin-top: 7vh;
    }
}



@media (max-width: 1024px) {
    .home-main {
        height: auto;
    }
    .home-content {
        width: 100%;
        height: 650px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        background-image: url('../../../assets/images/bg_img_mobile.jpg');
    }
    .home-content__image {
        display: none;
    }
    .home-content__text {
        position: unset;
        grid-column: 2/12;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home-content__title {
        margin: 0;
    }
}

@media (max-width: 840px) {
    .home-content__title {
        width: 450px;
    }
}

@media (max-width: 580px) {
    .home-content__title {
        width: 350px;
    }
}

@media (max-width: 430px) {
    .home-content__title {
        width: 295px;
    }
}