.arrow-blue-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--green);
    font-size: 14px;
    font-weight: 600;
    transition: color 0.2s ease;
    padding: 0;
}

.arrow-blue-button:hover {
    /* font-size: 15px; */
    letter-spacing: 1.15px;
}

.arrow-blue-button img {
    padding-top: 2px;
}

@media (max-width: 1280px) {
    .arrow-blue-button {
        font-size: 13px;
    }
    .arrow-blue-button:hover {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .arrow-blue-button {
        background-color: var(--text-light);
        padding: 7px 15px;
        border-radius: 3px;
        width: 150px;
    }
    .arrow-blue-button:hover {
        font-size: 14px;
    }
}