.about {
    margin-top: 40px;
    width: 100%;
    height: 100%;
}

.about__content {
    grid-column: 1/19;
    width: 100%;
    height: 100%;
    color: var(--text-light);
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 0 20px;
}

.about__decor {
    grid-column: 1/19;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}

@media (max-width: 1280px) {
    .about__decor {
        gap: 55px;
    }
}

@media (max-width: 1024px) {
    .about {
        margin-top: 120px;
        height: auto;
    }
    .about__content {
        height: auto;
    }
    .about__decor {
        column-gap: 40px;
        grid-column: 2/18;
        margin-top: 60px;
    }
}

@media (max-width: 840px) {
    .about__decor {
        column-gap: 0;
        display: flex;
        justify-content: center;
        margin: 0 50px;
    }
}