/* need to check margin h1 & h2*/
h1 {
  font-family: "Tapestry";
  font-weight: 400;
  font-size: 120px;
  color: var(--green);
  text-transform: uppercase;
}

h1.bordered {
  color: transparent;
  -webkit-text-stroke: 2px var(--text-light);
}

h2 {
  font-family: "Tapestry";
  font-weight: 400;
  font-size: 64px;
  color: var(--text-light);
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-light);
}

h4 {
   font-family: 'Sree Krushnadevaraya', serif;
   font-weight: 400;
   font-size: 16px;
   color: var(--text-light);
}

.subtitle {
  font-family: 'Sree Krushnadevaraya', serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-light);
  opacity: 0.5;
  letter-spacing: 1px;
}

p {
   font-family: 'Sree Krushnadevaraya', serif;
   font-weight: 400;
   font-size: 14px;
   color: var(--text-light);
   line-height: 25px;  
}

@media (max-width: 1280px) {
  h1 {
      font-size: 100px;
  }
  h2{
    font-size: 48px;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 13px;
    letter-spacing: 1px;
}
}

@media (max-width: 1024px) {
  h1{
    font-size: 90px;
  }
  h4 {
   font-size: 14px;
  }
}

@media (max-width: 840px) {
  h1{
    font-size: 80px;
  }

  h2{
    font-size: 45px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
   color: var(--green);
  }
}

@media (max-width: 580px) {
  h1{
    font-size: 70px;
  }
}

@media (max-width: 430px) {
  h1{
    font-size: 50px;
  }

  h2{
    font-size: 30px;
  }
}