.account {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    column-gap: 20px;
    height: 100%;
    padding-bottom: 60px;
}

.account__user {
    grid-column: 1/10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
}

.account__bookings {
    grid-column: 12/18;
}

@media (max-width: 1440px) {
    .account {
        padding-bottom: 60px;
    }
    .account__user {
        grid-column: 1/11;
    }
}

@media (max-width: 1280px) {

    .account__user {
        grid-column: 1/9;
    }
}

@media (max-width: 1024px) {
    .account {
        height: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr) !important;
        grid-template-rows: auto auto;
        column-gap: 20px;
        padding-bottom: 0;
    }
    .account__user {
        margin-top: 100px;
        grid-column: 2/12 !important;
        grid-row: 1/2;
    }
    .account__bookings {
        grid-column: 2/12 !important;
        grid-row: 2/3;
        margin: 60px 0;
    }
}

@media (max-width: 840px) {
    
}

@media (max-width: 580px) {

}

@media (max-width: 430px) {

}