.all-articles {
    height: 100%;
    width: 100%;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: 1fr 1fr;
}

.all-blogs-grid__item--row1-col1 {
    grid-column: 1/7;
    grid-row: 1/2;
    padding: 10px;
    border-top: solid 1px var(--text-light);
    border-bottom: solid 1px var(--text-light);
}

.all-blogs-grid__item--row1-col2 {
    grid-column: 7/13;
    grid-row: 1/2;
    border: solid 1px var(--text-light);
    border-left: none;
}

.all-blogs-grid__item--row2-col1 {
    grid-column: 1/7;
    grid-row: 2/3;
    border-bottom: solid 1px var(--text-light);
}

.all-blogs-grid__item--row2-col2 {
    grid-column: 7/13;
    grid-row: 2/3;
    padding: 10px;
    border-bottom: solid 1px var(--text-light);
    border-right: solid 1px var(--text-light);
}

.all-blogs-grid__item--col3 {
    grid-column: 13/19;
    grid-row: 1/3;
    border-top: solid 1px var(--text-light);
    border-bottom: solid 1px var(--text-light);
    padding: 35px 10px 10px 35px;
}

@media (max-width: 1024px) {
    .all-articles {
        height: auto;
        width: 100%;
        padding-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr 1fr, 1fr;
    }
    .all-blogs-grid__item--row1-col1 {
        grid-column: 7/12;
        grid-row: 1/2;
        min-height: 250px;
        padding: 0;
        border-top: none;
        border-right: solid 1px var(--text-light);
    }
    .all-blogs-grid__item--row1-col2 {
        grid-column: 2/7;
        grid-row: 1/2;
        min-height: 250px;
        padding: 0;
        border: none;
        border-left: solid 1px var(--text-light);
        border-bottom: solid 1px var(--text-light);
    }
    .all-blogs-grid__item--row2-col1 {
        grid-column: 7/12;
        grid-row: 2/3;
        min-height: 250px;
        padding: 0;
        border: none;
        border-right: solid 1px var(--text-light);
    }
    .all-blogs-grid__item--row2-col2 {
        grid-column: 2/7;
        grid-row: 2/3;
        min-height: 250px;
        padding: 0;
        border: none;
        border-left: solid 1px var(--text-light);
    }
    .all-blogs-grid__item--col3 {
        grid-column: 2/12;
        grid-row: 3/4;
        min-height: 250px;
        padding: 45px 0 20px 0;
    }
}

@media (max-width: 580px)  {
    .all-articles {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5, auto);
    }
    .all-blogs-grid__item--row1-col1 {
        grid-column: 2/12;
        grid-row: 1/2;
        min-height: 180px;
        height: auto;
        margin-bottom: 25px;
        border: none;
    }
    .all-blogs-grid__item--row1-col1 .image {
        background-position: 0 -15px !important;
    }
    .all-blogs-grid__item--row1-col2 {
        grid-column: 2/12;
        grid-row: 2/3;
        min-height: 180px;
        height: auto;
        margin-bottom: 25px;
        border: none;
    }
    .all-blogs-grid__item--row2-col1 {
        grid-column: 2/12;
        grid-row: 4/5;
        min-height: 180px;
        height: auto;
        margin-bottom: 25px;
        border: none;
    }
    .all-blogs-grid__item--row2-col2 {
        grid-column: 2/12;
        grid-row: 3/4;
        min-height: 180px;
        height: auto;
        margin-bottom: 25px;
        border: none;
    }
    .all-blogs-grid__item--col3 {
        grid-column: 2/12;
        grid-row: 5/6;
    }
}