.slider-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slider-buttons-horizontal {
    display: flex;
    gap: 12px;
}

.slider-buttons__btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: none;
}

.slider-buttons__btn:hover {
    background-color: var(--grey-blue);
}

.slider-buttons-horizontal .slider-buttons__btn {
    background-color: rgba(87, 134, 154, 0.5);
    width: 50px;
    height: 35px;
}

.slider-buttons-horizontal .slider-buttons__btn:hover {
    background-color: var(--grey-blue);
}

.slider-buttons__btn--next {
    transform: scaleX(-1);
}