.comment-form {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.comment-form__title {
    margin: 0;
    margin-bottom: 15px;
}

.comment-form__form {
    width: 100%;
}

.comment-form__textarea {
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    border: none;
    background-color: var(--text-light);
}

.comment-form__button {
    background-color: rgba( 0, 0, 0, 0.2);
    border: none;
    border-radius: 3px;
    padding: 5px 35px;
    margin-top: 5px;
}

@media (max-width: 1400px) {
}

@media (max-width: 1024px) {
    .comment-form {
        order: 1;
        margin-bottom: 40px;
    }
}

@media (max-width: 840px) {
   
}

@media (max-width: 580px) {
    
}

@media (max-width: 430px) {
}