.account__form {
    grid-column: 3/10;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 20px;
}

.account__form-fields{
    grid-column: 1/6;
    
}

.account__input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba(214, 229, 237, 0.5);
    color: rgba(214, 229, 237, 0.5);
    margin-bottom: 15px;
}

.account__input::placeholder {
    color: rgba(214, 229, 237, 0.5);
}

.account__submit-button {
    grid-column: 6/8;
    align-self: flex-end;
    justify-self: end;
}