.routes-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.routes-modal__content {
  background: #2d5566;
  border-radius: 16px;
  width: 95%;
  height: 95%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.routes-modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  z-index: 2500;
}

@media (max-width: 1400px) {
}

@media (max-width: 1024px) {
    .routes-modal__content {
      width: 100%;
      height: 100%;
      border-radius: 0;
      padding-top: 55px;
    }
    .routes-modal__close {
      top: 20px;
      right: 20px;
    }
}

@media (max-width: 840px) {
   
}

@media (max-width: 580px) {
    
}

@media (max-width: 430px) {
}